<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
  <title>Choose A Supplier</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <div class="container-fluid">
    <h5 class="text-center p-3 bg-white my-3">Purchase orders</h5>

    <section class="px-3 row align-items-center justify-content-center">
      <div class="filtre bg-white row mt-4 py-3">
        <div class="col-4">
          <p class="text-secondary">Filtre</p>

          <form method="get" action="/purchase-orders">
            <div class="col rounded">
              <label for="supplier" class="form-label">Status</label>
              <select class="form-select" name="status" aria-label="supplier" id="supplier" multiple="true">
                <option value="">All</option>
                <option th:each="s : ${status}"
                        th:value="${s}"
                        th:text="${s}"
                        th:selected="${selectedStatus != null} ? ${selectedStatus.contains(s)} : false"
                        ></option>
              </select>

              <div th:if="${valueError != null}"  class="my-2 alert alert-danger" th:text="${valueError}"></div>
              <button type="submit" class="btn btn-primary w-100 my-3">Filter</button>
            </div>

          </form>
        </div>
      </div>

      <div class="col-12 bg-white py-3">
        <p class="text-secondary mb-2">List of purchase orders</p>

        <table class="table my-4" id="table">
          <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Item</th>
            <th scope="col" class="text-end">Qty</th>
            <th scope="col" class="text-end">Rate</th>
            <th scope="col" class="text-end">Total Amount</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
          </thead>
          <tbody>
            <tr th:if="${orders.size() > 0}" th:each="order : ${orders}">
              <td th:text="${order.getCompany()}"></td>
              <td th:text="${order.getTransaction_date()}"></td>
              <td th:text="${order.getItem_name()}"></td>
              <td class="text-end" th:text="${order.getQty()}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(order.getRate())}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(order.getAmount())}"></td>
              <td class="text-center"th:style="${'color:' + order.getColor()}" th:text="${order.getStatus()}"></td>
            </tr>

          <tr th:unless="${orders.size() > 0}">
            <td colspan="7" class="text-center">No Data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable(); // Applique DataTables au tableau
  });
</script>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>