<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
  <title>Choose A Supplier</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <div class="container-fluid">
    <h4 class="text-center p-3 bg-white my-3">Purchase orders</h4>

    <section class="px-3 row align-items-center justify-content-center">
<!--      <div class="filtre">
          <form method="post" action="/suppliers/memories_supplier">
            <div class="col bg-white p-3 rounded">
              <label for="supplier" class="form-label">Status</label>
              <select class="form-select" name="supplier" aria-label="supplier" id="supplier">
                <option value="">Choose a status...</option>
                <option th:each="s : ${status}" th:value="${}" th:text="${}"></option>
              </select>

              <div th:if="${valueError != null}"  class="my-2 alert alert-danger" th:text="${valueError}"></div>
            </div>

            <button type="submit" class="btn btn-primary">Next</button>
          </form>
      </div>-->

      <div class="col-12 bg-white py-3">
        <p class="text-secondary mb-2">List of purchase orders</p>

        <table class="table my-4" id="table">
          <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col" class="text-end">Rate</th>
            <th scope="col" class="text-end">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
            <tr th:if="${orders.size() > 0}" th:each="order : ${orders}">
              <td th:text="${order.getCompany()}"></td>
              <td th:text="${order.getTransaction_date()}"></td>
              <td th:text="${order.getItem_name()}"></td>
              <td th:text="${order.getQty()}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(order.getRate())}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(order.getAmount())}"></td>
              <td th:style="${'color:' + order.getColor()}" th:text="${order.getStatus()}"></td>
            </tr>

          <tr th:unless="${orders.size() > 0}">
            <td colspan="7" class="text-center">No Data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable(); // Applique DataTables au tableau
  });
</script>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>