<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<link th:href="@{/css/dashboard/index.css}" rel="stylesheet">
<title>Employee - Monthly Salary Detail</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <section>
    <div class="my-2 p-3 bg-black">
      <h5 class="text-white py-2">Monthly Employee Salary Detail</h5>

      <table class="table table-bordered" id="details-employee">
        <thead class="bg-primary-subtle">
        <tr>
          <th scope="row" > Full Name </th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Total Earnings</th>
          <th scope="col">Total Deductions</th>
          <th scope="col" class="w-auto">Total Net</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="detail : ${details}">
            <td th:text="${detail.employeeName}"></td>
            <td th:text="${#temporals.format(detail.startDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#temporals.format(detail.endDate, 'yyyy-MM-dd')}"></td>
            <td>
              <ul class='salary-detail-container'>
                <li th:each="earning : ${detail.salaryDetailEarnings}">
                  <span th:text="${earning.salaryComponent}"></span>
                  <span th:text="${#numbers.formatDecimal(earning.amount, 1, 'COMMA', 2, 'POINT')}"></span>
                </li>
              </ul>
            </td>
            <td>
              <ul class='salary-detail-container'>
                <li th:each="deduction : ${detail.salaryDetailDeductions}">
                  <span th:text="${deduction.salaryComponent}"></span>
                  <span th:text="${#numbers.formatDecimal(deduction.amount, 1, 'COMMA', 2, 'POINT')}"></span>
                </li>
              </ul>
            </td>
            <td class="text-end" th:text="${#numbers.formatDecimal(detail.netPay, 1, 'COMMA', 2, 'POINT')}"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>
</main>


<script th:src="@{/js/dashboard/detailEmployee.js}"></script>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>