<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<link th:href="@{/css/dashboard/index.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>Dashboard</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <section>
    <header class="row bg-black my-1 py-2 align-items-center justify-content-between">
      <h4 class="w-auto text-white">Dashboard</h4>
      <div class="w-auto text-end">
        <button class="btn btn-primary text-white px-2 py-1" type="button">
          <i class="bi bi-graph-up-arrow"></i>
          <a href="/chart" class="fs-4 text-white">Chart</a>
        </button>
      </div>
    </header>

    <div class="card bg-black border-0 mt-1" style="width: 18rem;">
      <div class="card-body" id="filter">
        <h5 class="card-title text-light">Filter</h5>
        <div class="col">
          <label for="select-month" class="form-label text-light">Month</label>
          <select class="form-select" id="select-month">
            <option value="">All Months</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
      </div>
    </div>

    <div class="my-2 p-3 bg-black">
      <h5 class="text-white py-2">Monthly Employee Salary</h5>

      <table class="table table-bordered" id="monthly-employee-salary">
        <thead class="bg-primary-subtle">
        <tr>
          <th scope="row"> Full Name </th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Total Earnings</th>
          <th scope="col">Total Deductions</th>
          <th scope="col" class="w-auto">Total Net</th>
        </tr>
        </thead>
        <tbody>
            <!-- generate by dashboard.js -->
        </tbody>
      </table>
    </div>

    <div class="my-3 p-3 bg-black">
      <h5 class="text-white py-2">Monthly Employee Salary Summary</h5>
      <div class="col-md-3 mb-2">
        <label for="year" class="form-label">Year</label>
        <select class="form-select" id="year">
          <option th:value="${#dates.year(#dates.createNow())}"
                  th:text="${#dates.year(#dates.createNow())}">
          </option>
          <option th:each="year : ${#numbers.sequence(2015, #dates.year(#dates.createNow()) - 1)}"
                  th:value="${year}"
                  th:text="${year}">
          </option>
        </select>
      </div>

      <table class="table table-bordered" id="statistic-per-month">
        <thead class="bg-primary-subtle">
        <tr>
          <th scope="col">Month</th>
          <th scope="col">Total Salary</th>
          <th scope="col">Total Details</th>
        </tr>
        </thead>
        <tbody>
        <!-- generate by dashboard.js -->
        </tbody>
      </table>
    </div>
  </section>
</main>


</div>


<script type="text/javascript" th:src="@{/js/dashboard/dashboard.js}"></script>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>