<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
  <title>Choose A Supplier</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <div class="container-fluid">
    <h3 class="text-center p-3 bg-white my-3">Quotation Requests</h3>

    <section class="my-2 p-3 row align-items-center justify-content-center">
      <div class="col-12 bg-white py-3 px-2 shadow">
        <table class="table" id="table">
          <thead>
          <tr class="text-center">
            <th scope="col">Company</th>
            <th scope="col">Supplier</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
            <tr th:if="${quotations.size() > 0}" th:each="item : ${quotations}">
              <td th:text="${item.getCompany()}"></td>
              <td th:text="${item.getSupplier_name()}"></td>
              <td class="text-center" th:text="${item.getTransaction_date()}"></td>
              <td class="text-left" th:text="${item.getItem_name()}"></td>
              <td class="text-center" th:text="${item.getQty()}"></td>
              <td class="text-center" th:text="${item.getRate()}"></td>
              <td class="text-center" th:text="${item.getAmount()}"></td>

              <td class="text-center" th:with="name=${item.getName()}">
                <a th:href="@{/supplier-quotations/{id}/update-price(id=${item.name}, pastPrice=${item.getRate()})}">
                  <i class="bi bi-pencil-square"></i>
                </a>
              </td>
            </tr>

          <tr th:unless="${quotations.size() > 0}">
            <td colspan="5" class="text-center">No data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable(); // Applique DataTables au tableau
  });
</script>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>