body {
    background: #062e59;
}

main {
    padding: 0 10px;
}

label.form-label {
    color: white !important;
}

/* START TABLE */
table.table.dataTable {
    background: none !important;
}

.table tr > th {
    width: auto;
    font-weight: 400;
    font-size: 0.9em;
    padding: 6px 10px !important;
    background-color: rgb(19, 26, 60);
    color: #d3f7fb !important;
}

.table > tbody > tr > td {
    color: #add8e1;
    background-color: #161f46;
    padding: 4px 10px !important;
    border-collapse: collapse !important;
}
.table > tbody > tr > td > input {
    font-size: 0.9em;
    padding: 3px 8px;
    width: 100%;
    background-color: rgb(252, 251, 251);
    border: none;
}

.table > tbody > tr > td > input:focus {
    outline: 1px solid rgb(129, 176, 217)
}
/* END TABLE */

/* --- Datatable css ---- */
table.dataTable tbody tr {
    padding:5px 10px;
    vertical-align: middle;
}
table.dataTable tbody td {
    border: 1px solid #0f1533;
}
table.dataTable.no-footer {
    border-bottom:0px solid #111;
}
.dataTables_wrapper .dataTables_length{
    margin-bottom: 10px;
}

.dataTables_length > *,
.dataTables_length > select,
.dataTables_info,
.dataTables_paginate > a,
.dataTables_filter{
    color: white !important;
}


/* --- Datatable css ---- */

