<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<link th:href="@{/css/employee/list.css}" rel="stylesheet">
<title>Employee - List</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="p-2">
  <section>
    <div class="row my-2 p-2 bg-light align-items-center justify-content-between">
      <h4 class="w-auto fs-5 title">Employee</h4>
      <div class="w-auto text-end">
        <!-- Button trigger modal -->
        <button class="btn bg-black text-white px-2 py-1" data-bs-target="#modal-item-form" data-bs-toggle="modal" type="button">
          <i class="bi bi-plus"></i>
          <span>Add Employee</span>
        </button>
      </div>
    </div>

    <div class="mt-2 p-2 bg-white">
      <table class="table table-bordered" id="employee-list">
        <thead class="bg-primary-subtle">
        <tr>
          <th scope="col" class="col-actions">
            <input type="checkbox" name="all" class="form-check-input" id="all-checkbox">
            ID
          </th>
          <th scope="row" >
            <span>Full Name</span>
          </th>
          <th scope="col">Designation</th>
          <th scope="col">Gender</th>
          <th scope="col">Status</th>
          <th scope="col" style="width: auto;">To PDF</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-actions">
            <input type="checkbox" class="w-auto">
            <span>HR-EMP-0002</span>
          </td>
          <td>
            <span class="">Tahina Bemax</span>
          </td>
          <td>Developpeur</td>
          <td>Male</td>
          <td>Active</td>
          <td>
            <button type="button" title="Export to pdf" class="w-100 py-1"><i class="bi bi-file-pdf"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>


</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script th:src="@{/js/employee/employee.js}"></script>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>