
table > tbody > tr > td {
    vertical-align: top;
}

table > tbody > tr ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.salary-detail-container > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}
