<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<link th:href="@{/css/import/import.css}" rel="stylesheet">
<title>Importation</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
    <section class="p-2">
        <div class="my-3">
            <div class="form-container rounded py-3 px-4 bg-black" id="form-container">
                <div class="errors-container bg-white rounded" th:if="${results != null}">
                    <div th:if="${success} != null" class="alert alert-success mb-0" th:text="${success}"></div>

                    <div th:if="${hasErrors} != null" class="alert alert-danger mb-0">
                        <h5 th:utext="${'Error at :<br>' + results.getErrorLevel()}"></h5>
                        <ul th:if="${results.getErrorGlobal().size() > 0}">
                            <li th:each="error : ${results.getErrorGlobal()}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <!-- DELETE DATA FORM -->
                <div id="delete-data" class="my-3 bg-black py-2">
                    <form method="post" action="/delete-data">
                        <h3 class="text-light fs-5 mb-3 border-bottom py-2">Data</h3>

                        <label for="delete" class="form-label">Delete existing data!</label> <br>
                        <input type="submit" value="Delete Data" id="delete" class="px-3 py-1 rounded">
                    </form>
                </div>
                <!-- ---- ----- ----- -->

                <form class="form" method="post" action="/" th:object="${importDto}" enctype="multipart/form-data">
                    <h3 class="text-white fs-5 mb-3 border-bottom py-2">Importation</h3>
                    <div class="row supplier_quotation">
                        <div class="col">
                            <label class="form-label" for="employee">Employee<span class="text-danger">*</span></label>
                            <input class="form-control py-1 px-2" id="employee" th:field="*{employeeFile}" type="file"
                                   accept=".csv">
                        </div>

                        <div class="col">
                            <label class="form-label" for="salary_component">Salary Component<span
                                    class="text-danger">*</span></label>
                            <input class="form-control py-1 px-2" id="salary_component"
                                   th:field="*{salaryComponentFile}"
                                   type="file" accept=".csv">
                        </div>

                        <div class="col">
                            <label class="form-label" for="salarySlip">Salary Slip <span
                                    class="text-danger">*</span></label>
                            <input class="form-control py-1 px-2" id="salarySlip" th:field="*{salarySlipFile}"
                                   type="file" accept=".csv">
                        </div>

                        <div class="my-2">
                            <button type="submit" class="px-3 py-1 rounded">Import</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="resultat-container bg-black p-3  my-3" th:if="${results != null}">
                <div class="errors my-2 rounded">
                    <h5 class="py-2 text-white">Import FeedBack</h5>

                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" id="employeeBtn" class="btn btn-outline-secondary active">Employee</button>
                        <button type="button" id="salaryComponentBtn" class="btn btn-outline-secondary">Salary Component</button>
                        <button type="button" id="salarySlipBtn" class="btn btn-outline-secondary">Salary Slip</button>
                    </div>
                </div>

                <div class="my-2">
                    <div class="row my-2 rounded import-info-container active" id="info-employee">
                        <h5 class="text-info">Employee</h5>
                        <div class="col-12 error-card">
                            <p class="alert alert-info ">
                                Valid rows: <span class="text-success"
                                                  th:text="${ results.getEmployees().countValidRows()}"></span>
                                and invalid rows: <span class="text-danger"
                                                        th:text="${ results.getEmployees().countInvalidRows()}"></span>
                            </p>

                            <div class="errors-container py-3 bg-black"
                                 th:if="${results.getEmployeeDTOErrors().size() > 0}">
                                <ul>
                                    <li th:each="error : ${results.getEmployeeDTOErrors()}">
                                        <b>Line at</b>
                                        <th:block th:text="${error.getLine()}"></th:block>
                                        ,
                                        <b>message:</b> <span class="text-danger-emphasis"
                                                              th:text="${error.getMessage()}"></span>
                                        <b>File:</b>
                                        <th:block th:text="${error.getFileName()}"></th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12">
                            <table class="table table-bordered" id="table-employee">
                                <thead>
                                <tr>
                                    <th class="row-nbr">Ref</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Genre</th>
                                    <th>Date embauche</th>
                                    <th>Date de naissance</th>
                                    <th>Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="resultat : ${results.getValidEmployees()}" class="success">
                                    <td th:text="${resultat.getRef()}"></td>
                                    <td th:text="${resultat.getFirstName()}"></td>
                                    <td th:text="${resultat.getLastName()}"></td>
                                    <td th:text="${resultat.getGender()}"></td>
                                    <td th:text="${resultat.getHireDate()}"></td>
                                    <td th:text="${resultat.getDateOfBirth()}"></td>
                                    <td th:text="${resultat.getCompany()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row my-2 import-info-container" id="info-salary-component">
                        <h5 class="text-info">Salary Component</h5>
                        <div class="col-12 error-card">
                            <p class="alert alert-info ">
                                Valid rows: <span class="text-success"
                                                  th:text="${ results.getSalaryComponents().countValidRows()}"></span>
                                and invalid rows: <span class="text-danger"
                                                        th:text="${ results.getSalaryComponents().countInvalidRows()}"></span>
                            </p>

                            <div class="errors-container py-3 bg-black"
                                 th:if="${results.getSalaryComponentDTOErrors().size() > 0}">
                                <ul>
                                    <li th:each="error : ${results.getSalaryComponentDTOErrors()}">
                                        <b>Line at</b>
                                        <th:block th:text="${error.getLine()}"></th:block>
                                        ,
                                        <b>message:</b> <span class="text-danger-emphasis"
                                                              th:text="${error.getMessage()}"></span>
                                        <b>File:</b>
                                        <th:block th:text="${error.getFileName()}"></th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12">
                            <table class="table table-bordered active" id="table-salary-component">
                                <thead>
                                <tr>
                                    <th>Salary Structure</th>
                                    <th>Name</th>
                                    <th>Abbr</th>
                                    <th>Type</th>
                                    <th>Valeur</th>
                                    <th>Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="resultat : ${results.getValidSalaryComponents()}" class="success">
                                    <td th:text="${resultat.getSalaryStructure()}"></td>
                                    <td th:text="${resultat.getName()}">900</td>
                                    <td th:text="${resultat.getAbbr()}"></td>
                                    <td th:text="${resultat.getType()}"></td>
                                    <td th:text="${resultat.getValeur()}"></td>
                                    <td th:text="${resultat.getCompany()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row my-2 import-info-container" id="info-salary-slip">
                        <h5 class="text-info">Salary Slip</h5>
                        <div class="col-12 error-card">
                            <p class="alert alert-info ">
                                Valid rows: <span class="text-success"
                                                  th:text="${ results.getSalarySlips().countValidRows()}"></span>
                                and invalid rows: <span class="text-danger"
                                                        th:text="${ results.getSalarySlips().countInvalidRows()}"></span>
                            </p>

                            <div class="errors-container py-3 bg-black"
                                 th:if="${results.getSalarySlipDTOErrors().size() > 0}">
                                <ul>
                                    <li th:each="error : ${results.getSalarySlipDTOErrors()}">
                                        <b>Line at</b>
                                        <th:block th:text="${error.getLine()}"></th:block>
                                        ,
                                        <b>message:</b> <span class="text-danger-emphasis"
                                                              th:text="${error.getMessage()}"></span>
                                        <b>File:</b>
                                        <th:block th:text="${error.getFileName()}"></th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12">
                            <table class="table table-bordered active" id="table-salary-slip">
                                <thead>
                                <tr>
                                    <th>Mois</th>
                                    <th>Ref Employee</th>
                                    <th>Salaire Base</th>
                                    <th>Salaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="resultat : ${results.getValidSalarySlips()}" class="success">
                                    <td th:text="${resultat.getMois()}"></td>
                                    <td th:text="${resultat.getRefEmployee()}">900</td>
                                    <td th:text="${resultat.getBaseSalary()}"></td>
                                    <td th:text="${resultat.getSalary()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script th:src="@{/js/import/import.js}"></script>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>