<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
  <title>Choose A Supplier</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
  <div class="container-fluid">
    <h5 class="text-center p-3 bg-white my-3">Purchase Invoice</h5>

    <div style="position:fixed;top:0; right:0; width: auto"
         class="alert-success alert text-end" th:if="${billSuccess != null}" th:text="${billSuccess}"></div>

    <div style="position:fixed;bottom:0; right:0; width: auto"
         class="alert-danger alert text-end" th:if="${ErrorSuccess != null}" th:text="${ErrorSuccess}"></div>


    <section class="row px-3 align-items-center justify-content-center">

      <div class="col-12 bg-white py-3">
        <p class="text-secondary mb-2">List of purchase invoice</p>

        <table class="table my-3" id="table">
          <thead>
          <tr>
            <th scope="col">Supplier</th>
            <th scope="col">Company</th>
            <th scope="col">Date</th>
            <th scope="col" class="text-end">Total</th>
            <th scope="col" class="text-end">Outstanding Amount</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
            <tr th:if="${factures.size() > 0}" th:each="facture : ${factures}">
              <td th:text="${facture.getSupplier()}"></td>
              <td th:text="${facture.getCompany()}"></td>
              <td th:text="${facture.getBill_date()}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(facture.getGrand_total())}"></td>
              <td class="text-end" th:text="${#numbers.formatCurrency(facture.getOutstanding_amount())}"></td>
              <td th:style="${'color:' + facture.getColor()}" th:text="${facture.getStatus()}"></td>
              <td class="text-center">
                <a class="btn btn-primary w-100" th:unless="${facture.getStatus() == 'Paid'}" th:href="@{/purchase-invoices/{name}/bill(name=${facture.getName()})}">Bill</a>
              </td>
            </tr>

          <tr th:unless="${factures.size() > 0}">
            <td colspan="7" class="text-center">No data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable(); // Applique DataTables au tableau
  });
</script>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>