<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<link th:href="@{/css/import/import.css}" rel="stylesheet">
<title>Importation</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container my-5">
    <div class="form-container py-3 px-4 bg-white" id="form-container">
        <div th:if="${success} != null" class="alert alert-success" th:text="${success}"></div>

        <div id="delete-data" class="my-3 bg-white py-2">
            <form method="post" action="/delete-data">
                <h3 class="text-secondary fs-5 mb-3 border-bottom py-2">Data</h3>

                <label for="delete" class="form-label">Delete existing data!</label> <br>
                <input type="submit" value="Delete Data" id="delete" class="btn btn-primary py-0">
            </form>
        </div>

        <form class="form" method="post" action="/" th:object="${importDto}" enctype="multipart/form-data">
            <h3 class="text-secondary fs-5 mb-3 border-bottom py-2">Importation</h3>
            <div class="row supplier_quotation">
                <div class="col">
                    <label class="form-label" for="supplier">Supplier<span class="text-danger">*</span></label>
                    <input class="form-control py-1 px-2" id="supplier" th:field="*{supplierFile}" type="file"
                           accept=".csv">
                </div>

                <div class="col">
                    <label class="form-label" for="request_for_quotation">Request For Quotation <span
                            class="text-danger">*</span></label>
                    <input class="form-control py-1 px-2" id="request_for_quotation" th:field="*{requestForQuotation}"
                           type="file" accept=".csv">
                </div>

                <div class="col">
                    <label class="form-label" for="supplier_quotation">Supplier Quotation <span
                            class="text-danger">*</span></label>
                    <input class="form-control py-1 px-2" id="supplier_quotation" th:field="*{supplierQuotation}"
                           type="file" accept=".csv">
                </div>

                <div class="my-2">
                    <button type="submit" class="px-3 py-1 rounded">Import</button>
                </div>
            </div>
        </form>

        <div class="errors mt-2 p-2 rounded" style="background: rgb(243, 241, 241);" th:if="${results != null}">
            <h5 class="py-2">Import FeedBack</h5>

            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" id="supplierBtn" class="btn btn-outline-secondary">Supplier</button>
                <button type="button" id="reqBtn" class="btn btn-outline-secondary">Request For Quotation</button>
                <button type="button" class="btn btn-outline-secondary">Supplier Quotation</button>
            </div>

            <div class="my-2">
                <p class="alert alert-info ">
                    Valid rows: <span class="text-success" th:text="${ results.getSuppliers().countValidRows()}"></span>
                    and invalid rows: <span class="text-danger"
                                            th:text="${ results.getSuppliers().countInvalidRows()}"></span>
                </p>

                <div class="errors-container py-3 bg-white">
                    <ul>
                        <li th:each="error : ${results.getSupplierErrors()}">
                            <b>Line at</b> <th:block th:text="${error.getLine()}"></th:block>,
                            <b>message:</b> <span class="text-danger-emphasis" th:text="${error.getMessage()}"></span>
                            <b>File:</b><th:block th:text="${error.getFileName()}"></th:block>
                        </li>
                    </ul>
                </div>

                <div class="row bg-white my-2 supplier">
                    <div class="col-12">
                        <table class="table table-bordered active" id="table-supplier">
                            <thead>
                                <tr>
                                    <th class="row-nbr">Row</th>
                                    <th>Supplier Name</th>
                                    <th>Country</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="resultat : ${results.getValidSuppliers()}" class="success">
                                    <td></td>
                                    <td th:text="${resultat.getSupplierName()}"></td>
                                    <td th:text="${resultat.getCountry()}">900</td>
                                    <td th:text="${resultat.getType()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12">
                        <table class="table table-bordered" id="table-req-for-quotation">
                            <thead>
                            <tr>
                                <th class="row-nbr">Row</th>
                                <th>Supplier Name</th>
                                <th>Country</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script th:src="@{/js/import/import.js}"></script>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>